  .container {
    max-width: 960px;
  }

  main {
    min-height: calc(100vh - 215px);
  }

  .cont {
    overflow: auto;
    height: 200px;
    padding-left: 12px;
    padding-top: 10px;
    background-color: white;
    color:black;
  }

  #footer{
    background-color: white;
    color:black;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  body{
    background-color: darkcyan;
    color: white;
  }

  #limpiar{
    background-color:rgb(29, 86, 143);
    color: white;
  }

  #agregar{
    background-color: rgb(76, 154, 232);
  }

  h1{
    text-align: center;
  }

  .form{
    text-align: center;
  }

 

